extends layout

block header  
  link(rel='stylesheet', href='/stylesheets/article.css')
  script.
    exportedFunctions.setupArticle();

block content
  h1= title
  h2= id

  .container
    a.foo_link(href='/article/fox-article', target='_self') Article Profile
  .container
    a.foo_link(href='/publisher/fox-news', target='_self') Publisher Profile
  .container
    h2 How does this fare against other articles from this publisher?
    


    h2 How does this publisher stack up against other publishers?

      

  footer test