extends layout

block content
  h1= title

  .container
    a.foo_link(href='article/1', target='_self') Article Profile
  .container
    a.foo_link(href='publisher/1', target='_self') Publisher Profile

  footer test

