extends layout

block header
  link(rel='stylesheet', href='/stylesheets/index.css')
  script.
    exportedFunctions.setupIndex();

block content

  .container
    h1= title
    //- ul#list-of-articles
      
  .search-container 
    form(action="" id="url-search")
      label(for="your-url")
      .input-box 
        input(type='text', id='your-url', name="url")
        button(type='button', id='button') submit

  //- .container
  //-   a.foo_link(href='/article/fox-article', target='_self') Article Profile
  //- .container
  //-   a.foo_link(href='/publisher/fox-news', target='_self') Publisher Profile


