extends layout

block content
  h1= title
  p Welcome to #{title}

  .container
    a.foo_link(href='page1', target='_self') Page 1
  .container
    a.foo_link(href='page2', target='_self') Page 2

  footer test

