doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src="http://d3js.org/d3.v3.min.js")
    
    script(src='/javascripts/script_bundle.js')
    block header
  body
    block content
