extends layout

block content
  h1= title
  h2= id

  .container
    a.foo_link(href='/article/fox-article', target='_self') Article Profile
  .container
    a.foo_link(href='/publisher/fox-news', target='_self') Publisher Profile

  footer test